@{
    ViewBag.Title = "Wishlist";
    Layout = "~/Views/Shared/ShopLayout.cshtml";
}

<div class="card shadow-sm p-4">
    <h4 class="fw-bold">My Wishlist</h4>

    <div class="alert alert-info mt-3">
        Wishlist feature is demo only.
    </div>
</div>
